@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #333;
  text-transform: capitalize;
  font-weight: 700;
}

.discreipe {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus {
  border: 2px solid #18c79c;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #18c79c;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #16b78d;
}

button:active {
  transform: scale(0.95);
}

p {
  font-size: 13px;
  margin-top: 10px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  padding: 10px;
}

.facebook {
  background: #3b5998;
  color: white;
}

.apple {
  background: #000;
  color: white;
}

.google {
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.facebook:hover {
  background: #2d4373;
}

.apple:hover {
  background: #333;
}

.google:hover {
  background: #e2e2e2;
}

.error {
  border: 2px solid red;
}

.input-group {
  position: relative;
  margin-bottom: 10px;
}

.input-group input {
  min-width: 500px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  min-height: 8px;
  margin-top: 5px;
}

/* Responsive */

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
  .input-group input {
    min-width: 250px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 600px;
  }
}
