@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.btn-light {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
