body {
    color: rgba(27, 27, 27, 0.6);
    /* font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%; */
}

.review-content h4 {
    color: var(--bs-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
}

.col-md-7 h2 { 
    font-size: 24px;
    line-height: 45px;
    font-weight: 700;
    color: black;
}

/* Reviews Section */

.review-card {
    /* background: white; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    /* display: flex; */
    /* align-items: center; */
    padding: -15px;
    margin-bottom: -15px;
}

.review-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.review-date {
    font-size: 12px;
    color: rgba(150, 150, 150, 0.6);
    margin-bottom: 5px;
}

.review-content {
    flex: 1;
}

/* Right-side image */
.review-side-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding-top: 25px;
}

/* Omar Section */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
} */

.course-container {
    max-width: 1000px;
    /* margin: 20px auto;
    padding: 20px; */
    /* background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.video-section {
    width: 100%;
}

.video-section video {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

h2 {
    margin: 10px 0;
}

.author {
    color: #28a745;
    font-weight: bold;
}

.stats {
    display: flex;
    gap: 15px;
    font-size: 16px;
}

/* Curriculum section*/
.curriculum {
    width: 100%;
    background: #f4f4f4;
    padding: 15px;
    /* border-radius: 10px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: -333px;
    transition: margin-top 0.3s;
}

.curriculum h3 {
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    color: black;
    background: #ddd;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: background 0.3s ;
}

.curriculum h3:hover {
    background: #ccc;
}

.arrow {
    font-size: 16px;
}

.curriculum-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    text-align: left;
}

.curriculum-list li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.hidden {
    display: none;
}
