/* Hero section Start */

.custom-caption {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;
  color: black;
  text-align: left;
  width: 90%;
  max-width: 500px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
  height: 350px;
  object-fit: cover;
}

.carousel-caption h3 {
  font-size: 1.2rem;
}

/* Hero section End */

/* Categories section Start */

.card .btn {
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  text-align: center;
}

.btn-categories {
  min-width: 110px;
}

/* Categories section End */

/* recommended section Start */

.section-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  text-align: left;
}

.section-subtitle {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #a8a8a8;
}

.categories-swiper {
  overflow: hidden;
}

/* recommended section End */

/* Instructor section Start */

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.instructor-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
}

.instructor-card {
  transition: 0.3s;
}

.instructor-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

/* Instructor section End */
