* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bs-primary: #00ddc0 !important;
  --bs-primary-rgb: 0, 221, 192 !important;
}
.btn-primary {
  background-color: #00ddc0 !important;
  border-color: #00ddc0 !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn-primary:hover {
  background-color: #00b49b !important;
  border-color: #00a38c !important;
}
.dropdown-item {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.dropdown-item:hover {
  background-color: #00b49b !important;
  color: white !important;
}

.btn-close:focus,
.btn-close:hover,
.btn-close:active {
  box-shadow: none !important;
  outline: none !important;
}

a {
  text-decoration: none;
  color: black;
}

.btn-outline-primary {
  background-color: #fafafa !important;
  border-color: #00ddc0 !important;
  color: #00ddc0 !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-outline-primary:hover {
  background-color: #00ddc0 !important;
  border-color: #00ddc0 !important;
  color: white !important;
}

.btn-outline-secondary {
  border-color: #c3c3c3c3 !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-outline-secondary:hover {
  background-color: #00ddc0 !important;
  border-color: #00ddc0 !important;
  color: white !important;
}

.card {
  border: none;
}

/* Navbar Start */
.navbar {
  background-color: #fff;
  padding: 10px 20px;
}

.navbar-brand {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 40px;
  margin-right: 8px;
}

.navbar-browse {
  border: none;
}
.search-container {
  position: relative;
  width: 400px;
}

@media (max-width: 832px) {
  .search-container {
    width: 250px !important;
  }
}

.search-container input {
  width: 100%;
  padding: 8px 12px;
  padding-right: 35px;
  border: none;
  background-color: #f8f8f8;
  outline: none;
}

.search-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.nav-icons i {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
  /* color: gray; */
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 15px;
  cursor: pointer;
}

.dropdown-menu {
  right: 0;
  left: auto;
  border: none;
  background-color: #f8f8f8;
}

.navbar-profile {
  position: relative;
}

.navbar-profile .dropdown-menu {
  right: 0;
  left: auto;
}

.small-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-search-container input {
  width: 100%;
  padding: 8px 12px;
  padding-right: 35px;
  border: none;
  background-color: #f8f8f8;
  outline: none;
}

.navbar-group-item {
  font-size: 1.1rem;
}
.offcanvas-profile {
  width: 40px;
  height: 40px;
}

.offcanvas {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
  -webkit-transition: transform 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out;
  -ms-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  visibility: visible !important;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notification-wrapper {
  position: relative;
}

.notification-box {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  color: #555;
  border: 1px solid #ddd;
  padding: 10px 55px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
}

.notification-wrapper:hover .notification-box {
  display: block;
}

/* Navbar End */

/* Footer Start */

.footer-color {
  background-color: #1b1b1b;
  color: rgb(223, 223, 223) !important;
}

/* Footer End */

/* news-letter Start */

.news-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-image: url("../imgs/news-letter.png");
  background-size: cover;
  background-color: #2273d1;
  color: white;
  border-radius: 10px;
}

.news-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-input {
  display: flex;
  align-items: center;
  background-color: #629bdd;
  padding: 5px 10px;
  border-radius: 5px;
}

.news-input input {
  border: none;
  outline: none;
  background-color: #629bdd;
  padding: 4px 6px;
  width: 100%;
  max-width: 250px;
  min-width: 125px;
  flex: 1;
}

@media (max-width: 768px) {
  .news-input input {
    max-width: 100%;
  }
}

.news-input input::placeholder {
  color: #dfdfdf;
}

.news-input i {
  color: white;
  cursor: pointer;
}

/* news-letter End */

/* Card Start */
.card-instructor span {
  font-size: 0.9rem;
  color: #00ddc0;
}

.discounted-price {
  font-size: 1.2rem;
}

.original-price {
  font-size: 0.9rem;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
}

.card-img {
  position: relative;
}

.card img {
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-animation:hover img {
  filter: blur(4px);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.card-btn {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00ddc0;
  border-color: #00ddc0;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card-title {
  font-size: 1.1rem;
}

.card-btn:hover {
  background-color: #00b49b !important;
  border-color: #00a38c !important;
}

.card-animation:hover .card-btn {
  opacity: 1;
}

/* Card End */

/* Loader Start */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  border: 6px solid;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid;
  border-color: transparent transparent #00ddc0 #00ddc0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
}

.loader::before {
  width: 48px;
  height: 48px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

html,
body {
  overflow-x: hidden;
}

.pt-6 {
  padding-top: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00ddc0 #2c3237;
}

/* Scroll To Top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 28px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--bs-primary);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 32px;
}

#myBtn:hover {
  background-color: #555;
}

.dot-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(11, 5px);
  gap: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #00ddc0;
  border-radius: 50%;
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .dot-grid {
    display: none;
  }
}
