.custom-select {
  max-width: 320px;
  font-size: 14px;
  padding: 5px 10px;
}

.form-select:focus {
  box-shadow: none !important;
  outline: none;
  border-color: #00b49b;
}

.form-select:focus {
  box-shadow: none !important;
  outline: none;
  border-color: #00b49b;
}

.page-link {
  color: #00b49b !important;
}

.page-link:focus {
  box-shadow: none !important;
  outline: none;
}

#trending .container {
  background-color: white;
}
